/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*
Colors:

darkBG: #121212
darkText: #b1b1b1
selection: #cc8521

*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root {
    font-size: 67.5%;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ########################################################### */

body {
    height: 100vh;
    width: 100vw;
    background-color: #121212;
}

.container {
    width: 95%;
    height: 96vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #b1b1b1
}

h1 {
    font-size: 8vw;
    font-family: 'Playfair Display';
    line-height: 9vw;
}

h1::selection {
    color: #cc8521;
}

h3 {
    font-size: 3vw;
    font-family: 'Playfair Display';
    margin-top: 2rem;
}

h3::selection {
    color: #cc8521;
}

.reduced {
    font-size: 6.7vw;
    line-height: 7.2vw;
}

.menu-button {
    height: 4vh;
    width: 100%;
    color: #b1b1b1;
    display: flex;
    justify-content: flex-end;;
}

h6 {
    margin-right: 3rem;
    font-size: 1.5em;
    cursor: pointer;
}

h6:hover{
    color: #cc8521;
}