/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*
Colors:

darkBG: #121212
darkText: #b1b1b1
selection: #cc8521

*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root {
    font-size: 67.5%;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ########################################################### */

body {
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    background-color: #121212;
} 

.container {
    width: 95%;
    height: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #b1b1b1
}

h1 {
    font-size: 8vw;
    font-family: 'Playfair Display';
    line-height: 9vw;
}

h1::selection {
    color: #cc8521;
}

h3 {
    font-size: 3vw;
    font-family: 'Quicksand';
    margin-top: 2rem;
}

h3::selection {
    color: #cc8521;
}

.reduced {
    font-size: 6vw;
    line-height: 7vw;
}

@media(max-width: 470px) {
    .reduced {
        font-size: 10vw;
        line-height: 11vw;
    }

    h3 {
        font-size: 4vw;
    }
}

.menu-button {
    height: 5%;
    width: 100%;
    color: #b1b1b1;
    display: flex;
    justify-content: flex-end;
    ;
}

h6 {
    margin-right: 3rem;
    font-size: 1.5em;
    cursor: pointer;
}

h6:hover {
    color: #cc8521;
}

.popup-bar {
    width: 100vw;
    height: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    transition: height 0.3s ease-in-out;
    position: absolute;
    bottom: 0;
}

.height {
    height: 5%;
    transition: height 0.3s ease-in-out;
}

#twitter-link {
    height: 5%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #121212;
    transition: color 0.2s ease-in-out;
    font-family: 'Quicksand';
}

#twitter-link:hover {
    color: #cc8521;
    transition: color 0.2s ease-in-out;
}

.img-cont {
    width: 2rem;
    margin-right: 0.5rem;
}

.img-cont img {
    width: 100%;
    max-height: auto;
}

.credit {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    width: 120px;
}

.blank {
    height: 100%;
    width: 120px;
}

@media(max-width: 500px) {
    .blank {
        display: none;
    }
    #twitter-link {
        margin-left: 2rem;
    }
}

a {
    text-decoration: none;
    color: inherit;
    font-family: 'Quicksand';
}

.social-cont {
    width: 1.5rem;
    transition: opacity 0.2s ease-in-out;
}

.credit a:hover {
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.social-cont img {
    width: 100%;
    max-height: auto;
}

/* ########### Spinner ########### */

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #b1b1b1;
    background: -moz-linear-gradient(left, #b1b1b1 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #b1b1b1 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #b1b1b1 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #b1b1b1 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #b1b1b1 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #b1b1b1;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #121212;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }